@import "./reset/reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@import "./helpers";
@import "./flex";

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.page-wrapper {
    padding: 20px;
}
