.container {
  width: 100%;
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.linksBox {
  margin-left: auto;
  display: flex;
  gap: 15px;
}
