.container {
    color: var(--primary-color);
    padding: 6px 14px;
}

.clean {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    outline: none;
}

.outline {
    margin: 0;
    border: 1px solid var(--inverted-bg-color);
    background: none;
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.background_inverted {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    height: var(--font-line-m);
    width: var(--font-line-m);
    font-size: var(--font-size-m);
}

.square.size_l {
    height: var(--font-line-l);
    width: var(--font-line-l);
    font-size: var(--font-size-l);
}

.square.size_xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}
